main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF9;
    text-align: center;
    min-height: 100vh;
    top: 0;
}


.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    width: 100%;
    height: auto;
}
